{% extends 'base_debate.html' %}

{% block content %}
    {% if form.depth.value == 0 %}
    <h2>안건 등록</h2>
    {% else %}
    <h2>중재안 등록</h2>
    {% endif %}
    <form method="POST" class="post-form">{% csrf_token %}
    	<div>
        {{ form.as_p }}
        </div>
        <div>
        <button type="submit" class="btn btn-sm btn-success">Save</button>
        <button type="button" class="btn btn-sm btn-default" onClick="window.history.back()">Cancel</button>
    	</div>
    	<input id="files-upload" type="file" class="hidden">
    </form>
<script>
	$('#id_text').markItUp(mySettings);

</script>
{% endblock %}
