{% extends 'base_debate.html' %}

{% block content %}
	<div class="page-header">
    {% if form.depth.value > 0 %}
		{{parent_agenda.text|safe}}
		<h2> 중재안 </h2>
    {% else %}
		<h2> 안건 </h2>
    {% endif %}
	<div>
    <form id="edit_form" method="POST" class="post-form">{% csrf_token %}
    	<div>
		{% if form.errors %}
			{% for error in form.non_field_errors %}
				<div class="alert alert-danger" role="alert">
				{{ error|escape }}
				</div>
			{% endfor %}
		{% endif %}
		
        {% for field in form %}
			{% if field.errors %}
				<div class="alert alert-warning" role="alert">
					{{field.errors}}
				</div>
			{% endif %}
			<div class="input-group">
			{% if field.label == 'Text' %}
				{% include "debate/editorToolBar.html" %} 
				<div id="editor">
					{{field.value|safe}}
				</div>
			{% endif%}
			{{ field  }}
			</div>
		{% endfor %}
        </div>
    </form>
	<div>
		<button type="button" class="btn btn-sm btn-success" onclick="save();">Save</button>
		<button type="button" class="btn btn-sm btn-default" onClick="window.history.back()">Cancel</button>
	</div>
<script>
	initToolbarBootstrapBindings();  
	$('#editor').wysiwyg({ fileUploadError: showErrorAlert} );
    window.prettyPrint && prettyPrint();
	$('#id_text').hide();
	{% if form.depth.value > 0 %}
		$('#id_category').hide();
	{% endif %}
	//오류메시지로 천천히 이동
	$('html, body').animate({
		scrollTop: ($('.alert').first().offset().top)
	},1200);

	function save(){
		$('#id_text').text($('#editor').cleanHtml());
		$("#edit_form").submit();
	}
</script>
{% endblock %}
