{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap3-wysihtml5/dist/bootstrap3-wysihtml5.min.css' %}"></link>
<script src="{% static 'bootstrap3-wysihtml5/dist/bootstrap3-wysihtml5.all.min.js' %}"></script>
<script src="{% static 'bootstrap3-wysihtml5/dist/locales/bootstrap-wysihtml5.ko-KR.js' %}"></script>
<style>
	#id_text {
		width: 100%; height: 600px; font-size: 14px; line-height: 18px;
	}
</style>
<script>
	
	var myCustomTemplates = {
	  custom1: function(context) {
		return "<li>" +
		  "<a class='btn btn-default' href='javascript:fnCall();'>타의견 참조</a>" +
		  "</li>";
	  }
	};

	var EDITOR_OPTIONS = {
	  toolbar: {
		custom1: true
	  }
	  ,customTemplates: myCustomTemplates
	  ,locale: 'ko-KR'
	};
	
	function fnCall(){
		alert("!!!!!!!!!!!");
	}
</script>