{% extends 'base_debate.html' %}

{% block content %}
    <div class="post">
        <div class="date">
            {{ agenda.author }} [{{ agenda.created_date }}]
        </div>
        {% if request.user == agenda.author %}
        <a class="btn btn-default" href="{% url 'agenda_edit' pk=agenda.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <div>{{ agenda.text|safe }}</div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
    <div class="row">
		{% if opinion.stance < 50 %}
	    <div class="opinion_agree">
		{% else %}
		<div class="opinion_disagree">
		{% endif %}
			<div>
				<div class="date">{{ opinion.author }} [{{ opinion.created_date }}]</div>
				{% if request.user == agenda.author %}
				<a class="btn btn-default" href="{% url 'opinion_edit' pk=opinion.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
				{% endif %}
				<div>{{ opinion.text|safe }}</div>
			</div>
		</div>
	</div>
{% endblock %}