{% extends 'base_debate.html' %}

{% block content %}
    <div class="post">
        <div class="date">
            {{ agenda.author }} [{{ agenda.created_date }}]
        </div>
        <div>{{ agenda.text|safe }}</div>
    </div>
	<div class="page-header">
    {% if form.stance.value|add:0 == 10 %}
    <h2>찬성 의견</h2>
    {% else %}
    <h2>반대 의견</h2>
    {% endif %}
	</div>
	{% include "debate/editorToolBar.html" %} 
    <form id="edit_form" method="POST" class="post-form">{% csrf_token %}
    	<div>
		{% if form.errors %}
			{% for error in form.non_field_errors %}
				<div class="alert alert-danger" role="alert">
				{{ error|escape }}
				</div>
			{% endfor %}
		{% endif %}
		
        {% for field in form %}
			{% if field.errors %}
				<div class="alert alert-warning" role="alert">
					{{field.errors}}
				</div>
			{% endif %}
			<div class="input-group">
			{{ field  }}
			</div>
		{% endfor %}
        </div>
    </form>
    <div>
        <button type="button" class="btn btn-sm btn-success" onclick="save();">Save</button>
        <button type="button" class="btn btn-sm btn-default" onClick="window.history.back()">Cancel</button>
    </div>
<script>
	$('#id_text').wysihtml5(EDITOR_OPTIONS);

	
	//오류메시지로 천천히 이동
	$('html, body').animate({
		scrollTop: ($('.alert').first().offset().top)
	},1200);
		
	function save(){
		$("#edit_form").submit();
	}	
</script>
{% endblock %}
